@import url('https://fonts.googleapis.com/css?family=Amatic+SC');

:root {
	background-color: #000;
	color: #fff;
	font-family: 'Amatic SC', cursive;
	font-size: 40px;

}

* {
	padding: 0;
	margin: 0;
}

main {
	background-color: #90a4ae;
	max-width: 400px;
	margin: auto;
	margin-top: 10%;
	border: 1px solid black;
	padding: 15px;
	height: 90%;
}

main form {
	text-align: center;
	margin: 0;
	padding: 0;
}

header {
	color: orange;
	background-color: black;
	margin: 0;
	margin-bottom: 15px: 
	width: 100%;
}

h1 {
	width: 100%;
}

#todoPrompt {
	font-size: 30px;
	color: #000;
	font-weight: 600;
	background-color: #eee;
	margin-top: 10px; 
	padding: 5px;
	border-radius: 5px;
}

#todoPrompt input[type=text] {
	font-size: 30px;
	font-weight: 600;
	font-family: 'Amatic SC', cursive;
	width: 70%;
	border: none;
	border-bottom: 3px solid black;
	margin: 5px;
	background-color: inherit;
}

#todoPrompt p {
	width: 100%;
	margin: 5px;
}

#todoPrompt select {
	font-size: 30px;
	font-weight: 600;
	font-family: 'Amatic SC', cursive;
	width: 70px;
	color: #666;
	background-color: white;
	border: none;
	border-bottom: 1px solid black;
	background-color: inherit;
}

#todoPrompt p input{
	font-size: 30px;
	font-weight: 600;
	color: #666;
	font-family: 'Amatic SC', cursive;
	width: 50px;
	border: none;
	border-bottom: 1px solid black;
	background-color: inherit;
}

#todoPrompt #createTask {
	align-self: center;
	width: 50%;
	height: 30px;
	margin-right: 50%;
	border: .5px solid black;
	border-radius: 15px;
	border: none;
	background-color: #03a9f4;
	color: white;
	font-weight: 600;
}

.allTasks {
	font-size: 25px;
	display: block;
}

.task {
	list-style: none;
	width: 100%;
	margin: 3px;
	padding: 3px;
	text-align: center;
	color: black;
}

.task .taskBox {
	border-radius: 10px 10px 20px 20px;
	background-color: #eee;
	padding: 3px;
	width: auto;
}

.taskBox .taskTodo {
	color: #000;
	font-weight: 600;
	border-radius: 10px;
	background-color: orange;
	padding: 3px;
	padding-top: 10px;
	height: 20px;
}

.actionDiv {
	display: flex;
	position: relative;
	justify-content: space-between;
}

.actions {
	color: white;
	font-weight: 600;
	margin: 3px;
	height: 30px;
	border-radius: 30px;
	border:none;
}

.doneTask {
	background-color: #8bc34a;

	width: 30%;
}

.deleteTask {
	background-color: #f44336;
	width: 30%;
}

.addNewTask {
	display: flex;
	justify-content: flex-end;
}

.addNewTaskBtn {
	background-color: #03a9f4;
	width: 30px;
	height: 30px;
	color: white;
	font-size: 25px;
	border-radius: 50%;
	border: none;
}